@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Saya FarrelGalih</h1>
    <p> <a href="https://www.gunadarma.ac.id/">di sini saya berkuliah</a>.</p>
</div>
